<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--Bootstrap -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

 <!-- Bootstrap Font Icon CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

 <!--CSS File-->
 <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>LOG IN</title>
</head>
<body>

    {% block main-content %}

    <section class="vh-90">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <form>
                <!-- username input -->
                <div class="form-outline mb-4">
                    <label class="form-label text-white" for="form1Example13">Username</label>
                    <input type="text" id="form1Example13" placeholder="username..." class="form-control form-control-lg rounded-pill" />
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label text-white" for="form1Example23">Password</label>
                    <input type="password" id="form1Example23" placeholder="password..." class="form-control form-control-lg rounded-pill" />
                </div>
      
                <div class="d-flex justify-content-around align-items-center mb-3">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="form1Example3"
                      checked
                    />
                    <label class="form-check-label text-white" for="form1Example3"> Remember me </label>
                  </div>
                  <a href="#!" class="text-white">Forgot password?</a>
                </div>
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block offset-5 rounded-pill">Sign in</button>
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                </div>
      
                <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
                  <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                </a>
                <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!" role="button">
                  <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>
      
              </form>
            </div>
          </div>
        </div>
      </section>
      

    {% endblock main-content %}

    
</body>
</html>